@use '../../index.scss' as *;

.landing-page {
   @include set-size(100%);
   @include devices(mobile) {
      padding: 0 1rem;
   }
   @include devices(mobile) {
      padding: 0;
   }
   @include devices(tablet) {
      padding: 0;
   }
   @include devices(desktopLarge) {
      padding: 0 20%;
   }
   @include devices(desktopMedium) {
      padding: 0 10%;
   }

   img {
      max-height: 50vh;
   }
   @include flex-center();
   flex-direction: column;
   align-items: space-evenly;
}
