@use '../../../../index.scss' as *;

.trending-videos-container {
   display: flex;
   align-items: center;
   justify-content: space-between;

   img {
      @include cover-background();
      height: auto;
   }
}

.inactive {
   display: hidden;
}
.item-inner-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   gap: 1rem;
   padding-top: 1rem;
}
@keyframes slideLeft {
}

@keyframes slideRight {
}
