@use '../../index.scss' as *;

#signintitle{
  position: relative;
  top: 10px;
}

.signinpaper {
  position: relative;
  left: 33%;
  top: 50px;
  width: 33%;
  padding: 2px;
  @include devices(mobile) {
   display: flex;
   justify-content: center;
   width: 75%;
   left: 12.5%;
   top: 50px;
  };
  }

  .Authform {
    display: flex;
    justify-content: center;
    margin: 5%;
  }